exportPattern("^[[:alpha:]]+")
import("caret","zoo")
importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "grid", "lines", "rug", "text")
importFrom("utils", "data","tail")
importFrom("stats", "is.ts", "as.ts", "ts", "rnorm","as.formula","embed")
importFrom("stats", "na.omit","predict", "start", "window","time","end","acf", "na.pass")
importFrom("caret","train")
export("tts.caret")
export("tts.autoML")
export("iForecast")
#export("")

